/* #0165a7 */ اللون الازرق
body {
    
    font-family: "Cairo", sans-serif;
}
.text-blue{
    color: #0165a7;
}
.header-title {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.title-public-health-page {
    font-size: 30px;
    display: inline-block;
    position: relative;
}

.underline {
    width: 150px;
    height: 4px;
    background-color: rgba(217, 83, 79) ;
    margin: 0 auto;
    position: relative;
    top: 10px;
    transition: width 0.4s ease-in-out;
}

.header-title:hover .underline {
    width: 200px; 
}

h1:hover {
    color: rgb(127, 45, 42);
    transition: color 0.4s ease-in-out;
}

/*########################################3*/
.article-card {
    margin: 0 20px;
    background-color: #fdfeff;;
    border-radius: 10px;
    height: 400px;
    display: flex;
    flex-direction: column; /* جعل العناصر داخل الكارد عمودية */
    justify-content: space-between;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.article-card:hover {
    transform: translateY(-10px);
}

.article-card img {
    width: 80%;
    display: block;
    margin: 0 auto;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
}
.article-body{
    height: 50px;
    overflow: hidden;
}
.btn-custom{
    background-color: #0165a7; 
    color: white; 
    width: 30%;
    
}
.btn-custom:hover{
    background-color: #054570; 
}

.modal-body{
    max-height: 600px; 
    overflow-y: auto;
    color:#0a2e54;
}

.modal-body ul li{
    color:#44484c;
    /* font-weight: 500; */
}

.sentence-custom{
    padding: 0 14px;
    font-size: 11px;
}
.btn-modal{
    font-size: 18px;
}
/**************************************************************************************************************************************/

@media (max-width: 576px) {
.title-public-health-page {
    font-size: 23px;
}
.article-title{
    font-size: 16px;
}
.article-body{
    font-size: 11px;
    height: 30px;
}
.article-card img {
    width: 100%;
    height: 200px;
}
.btn-custom{
    font-size: 12px;
    width: 40%;
}
.modal-dialog {
    max-width: 90%; /* حجم المودال للشاشات الصغيرة */
}
.modal-body{
    max-height: 380px; 
}
.btn-modal{
    font-size: 12px;
}
}
/***********************************************************/
@media (min-width: 577px) and (max-width: 768px) {
.title-public-health-page {
    font-size: 27px;
}
.article-card {
    margin: 0 50px;
}
.article-title{
    font-size: 18px;
}
.article-body{
    font-size: 14px;
}
.article-card img {
    width: 80%;
    height: 220px;
}
.btn-custom{
    font-size: 13px;
    width: 20%;
}
.modal-dialog {
    max-width: 75%; /* حجم المودال للشاشات المتوسطة */
}
.modal-title{
    font-size: 20px;
}
.modal-body{
    font-size: 15px;
    max-height: 450px; 
}
.btn-modal{
    font-size: 14px;
}
}
/***********************************************************/
/* الشاشات اللى بين المتوسطه و الكبيرة*/
@media (min-width: 769px)and (max-width: 1462px) {
    
    .article-title{
        font-size: 15px;
    }
    .article-body{
        font-size: 11px
    }
    .article-card img {
        width: 85%;
        height: 150px;
    }
    .btn-custom{
        font-size: 11px;
        width: 40%;
    }
}
/***********************************************************/
@media (min-width: 1462px) {
.article-title{
    font-size: 20px;
}
.article-body{
    font-size: 15px
}
.article-card img {
    width: 90%;
    height: 220px;
}
.modal-dialog {
    max-width: 80%; /* حجم المودال للشاشات الكبيرة */
}
.modal-title{
    font-size: 25px;
}
.modal-body{
    font-size: 20px;
    max-height: 530px; 
}
.sentence-custom{
    font-size: 13px;
}

}